@{
    ViewBag.Title = "VerifiedAccount";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

  <div style="width: 45%; margin-left: auto; margin-right: auto; height: 50%; border: solid 1px #000; margin-top: 5%;">
     <h3> @ViewData["ErrorMessage"]</h3>


 <div style="text-align: center;margin-bottom:1%;">
             
            <h3>     <a style ="font-weight:bold;font-style:italic;" href="Login">Login</a></h3>
            </div>
      </div>
